@font-face {
    font-family: "Clear Sans";
    src: url("../src/clear-sans.ttf") format("truetype");
  }
  
  body {
    display: flex;
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,64,124,1) 47%, rgba(0,212,255,1) 100%);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Clear Sans", sans-serif;
    font-size: 21px;
  }
  
  .text {
    order: 2;
    padding-top: 40px;
    width: 440px;
    font-weight: bold;
  }
  p{
    width: 440px;
    height: 440px;
  }
  .board {
    order: 1;
    width: 440px;
    height: 440px;
    padding: 5px;
    background-color: #57407c;
    border-radius: 7px;
    outline: none;
    position: relative;
  }
  
  .board .cell,
  .tile {
    user-select: none;
    cursor: default;
  }

  .details-box {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }
  
  .resetButton {
    background-color: #3d2963;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 7px;
    transition: color 0.3s ease, background-color 0.3s ease;
    &:hover {
      background-color: #d3386a;
      color: rgba(255, 255, 255, 1);
    }
  }
